<h3>Welcome to the German Universities Page</h3>
<% @unis.each do |uni| %>
<ul class="german-universities">
  <h4><%= uni.full_name %></h4>
    <p>Where: <%= uni.city %>, Germany</p>
    <p>Degree type offered: <%= uni.degree_type %></p>
    <p>What Semester(s): <%= uni.semester %></p>
    <p>Language of Courses: <%= uni.language %></p>
</ul>
<% end %>
