<h3>Welcome to the German Universities Page</h3>
<% @unis.each do |university| %>
<ul>
  <h4><%= university.course_name %> at <%= university.uni_name %></h4>
    <p>Where: <%= university.city_name %>, Germany</p>
    <p>Degree type offered: <%= university.degree_type %></p>
    <p>What Semester(s): <%= university.semester %></p>
    <p>Language of Courses: <%= university.language %></p>
</ul>
<% end %>
